body{
    background: black;
    overflow: hidden;
}

.circle{
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width: 100px;

    display: flex;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}